.container {
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8d6db1;
  padding: 12px 12px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.card {
  background: #4b2e813c;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(45, 23, 55, 0.25);
  margin-bottom: 20px;
}

.auth-container {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

input {

  width: 90%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 5px;
  background: #290f3f;
  color: white;
}

button {
  background: #9328df;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  margin-left: 5px;
  margin: 9px;
  margin-bottom: 9px;
  margin-top: 15px;
  transition: 025s;
}

button:hover {
  background: #2563eb;
}

.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #0f172a;
  margin-top: 8px;
  border-radius: 8px;
}

.task span {
  cursor: pointer;
}

.task span:hover{
  color: #60a5fa;
}

li{
  margin-bottom: 10px;
  margin-left: 10px;
}